figs/model_fit/
__pycache__/
.ipynb_checkpoints/
.github/
.RData
.Rhistory
.vscode/

*.png
figs/Figure2.jpg
figs/Figure3.jpg
figs/Figures.pptx


*.svg
tables/model_fit_faster_nec_turn

figs/model_fit_faster_nec_turn
figs/model_fit_v1
figs/Flexible CUE
figs/N-Retention
main.ipynb
Figure_2_and_3.py
sol_ivp_.py